<!DOCTYPE html>
<html>
<head>

  <title></title>
</head>
<body>
  <div class="jumbotron text-center xp-nav">
    <h1>XP: <%= @avatar['xp'] %></h1>  
  </div>

  <div>
    <ul class='list-group text-center'>
      <li class='list-group-item'><h1><%= @avatar['name'] %></h1></li>
      <li class='list-group-item'><img src="<%= @avatar['img']%>"></li>
    </ul>
  </div>
  <div class='container' style='width: 90%%; margin: 0 auto; border: 2px solid black'>

      <div class='text-center col-lg-5'>
        <h2>Completed Achievements</h2>
        <ul class='list-group'>
          <% @completed_achievements.each do |achievement| %>
            <li class='list-group-item'><%= achievement['name'] %></li>
          <% end %>
        </ul>
      </div>

    <div class='col-lg-5 text-center'>
      <h2>Incomplete Achievements</h2>
      <ul class='list-group'>
        <% @incomplete_achievements.each do |achievement| %>
          <li class='list-group-item'><%= achievement['name'] %></li>
        <% end %>
      </ul>
    </div>
    <nav>
      <%= link_to "Check out All of Todays Achievements!", achievements_path, class: "all-achievements" %><br/>
      <%= link_to "Check On your Fellow Adventurers!", users_path %>
    </nav>
    
  </div>
</body>
</html>