<div class='jumbotron text-center' style='background: black; width: 80%; margin: 0 auto;'>
  <h1 style='text-align: left;'><%= @achievement['achievement']["name"] %></h1>
  <br>
  <p style='text-align: left;'><%= @achievement['achievement']["description"] %></p>
  <br>
  <p>Point value - <%= @achievement['achievement']["points"] %></p>

  <%= form_tag('https://level-up-api.herokuapp.com/api/users/1/user_achievements', method: 'post') do %>
    <%= hidden_field_tag :user_id, @user['id'] %>
    <%= hidden_field_tag :achievement_id, @achievement['achievement']['id'] %>
    <button type='submit' class='btn btn-success'>Add</button>
  <% end %>
</div>